@charset "utf-8";
#heading {
    font-family: black-ops-one;
    text-align: center;
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    color: #131927;
    background-color: #9CE2E8;
	margin: 1%;
}

.box1 {
    height: 338px;
    width: 47.65%;
    background-color: #D2F1F4;
    background-size: cover;
    margin: 1%;
    float: left;
    font-family: asap;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.box2 {
    height: 338px;
    width: 46.65%;
    background-color: #D2F1F4;
    background-size: cover;
    margin: 1%;
    float: left;
    font-family: asap;
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.boxleft {
    height: 70px;
    width: 48%;
    background-color: #9CE2E8;
    background-size: cover;
    margin: 1%;
    float: right;
    font-family: asap;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.boxright {
    height: 70px;
    width: 48%;
    background-color: #9CE2E8;
    background-size: cover;
    margin: 1%;
    float: right;
    font-family: asap;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.runbutton {
	height: 21px;
	width: 82px;
	text-align: center;
	clear: both;
	
}
